<h1> All tasks for $category.getName()</h1>
<ul>
#foreach ($task in $category.getTasks())
  <li>$task.getDescription()</a></li>
#end
</ul>

<a href="/categories/$category.getId()/tasks/new">Add a new task</a>